

.login-container{
    height: 300px;
    width: 300px;
    border: 1px solid grey;
    padding: 30px;
    border-radius: 8px;
}
.login-heading{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}
.button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}
.button-container span{
    margin: 5px;
}